body{
    color: black;
}

h1{
    margin-left:20%;
}

.course_card{
    margin-left: 20%;
    background-color: #E1E1E1;
    border-radius: 10px;
    width: 1000px;
    height: 550px;
    padding: 20px;
}

.art_requirement{
    border-radius: 10px;
    background-color: #002B49;
    color: white;
    width: 20%;
    float: left;
    text-align: center;
    margin-right: 25px;
    margin-top: 0;
}

.hci_requirement{
    border-radius: 10px;
    background-color: #789F90;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 0;
}

#course_detail_pg{
    float:right;
    margin-bottom: 20px;
}
