h1, h3 {
    margin-left: 20%;
}

table{
    border: 20px solid #B7B09C;
    border-radius: 10px;
    margin-left: 20%;
    border-spacing: 20px;
    background-color: white;
    width: 1000px;
    height: 500px;
    color: black;
    font-weight: bolder;
    text-align: center;
}