h1, h3 {
    margin-left: 17%;
}

.dropdowns{
    margin-left: 17%;
}

select{
    padding-right:20px;
}

.directory-wrapper{
    display: inline;
}

/* Content styling */

.directory-content table{
    float:left;
    border: 20px solid #B5B4B4;
    border-radius: 15px;
    margin-left: 17%;
    border-spacing: 20px;
    background-color: #E1E1E1;
    width: 65%;
    height: 500px;
    color: black;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

th{
    font-size: large;
}

/* Sidebar styling */

.directory-sidebar{
    background-color:#E1E1E1; 
    border-radius: 10px;
    float: right;
    width: 15%;
    margin: 10px;
}

.req{
    background-color:aqua;
    border-radius: 10px;
    padding:10px;
    margin:15px;
    text-align:center;
}

#req-btn-1{
    background-color: #002B49; 
    color:white  
}

#req-btn-2{
    background-color: white
}

#req-btn-3{
    background-color: #8A2B2B; 
    color:white
}

#req-btn-4{
    background-color: #789F90; 
    color:white
}