h2, h3{
    color: #8A2B2B;
}

h1{
    margin-left: 17%;
}

/* ----------------------------------------------------- */
/* ------------ Progress ring card styling ----------------- */
.progress_ring{
    margin-left: 17%;
    background-color:#E1E1E1;
    border-radius:10px;
    top: 15%;
    width: 29%;
    padding: 10px;
    float: left; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.progress_ring p {
    text-align: center;
}

/* https://www.w3docs.com/snippets/css/how-to-create-circles-with-css.html */
#circle {
    background: #B5B4B4;
    width: 128px;
    height: 128px;
    border-radius: 64px;
    border: 7px solid #8A2B2B;
    margin-left: 30%;
}


/* ----------------------------------------------------- */
/* ------------ Additional info card styling ----------------- */
.additional_info{
    background-color: #E1E1E1;
    top: 50%;
    width: 29%;
    margin-left: 17%;
    border-radius:10px;
    padding: 10px;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* ----------------------------------------------------- */
/* ------------ College path card styling ----------------- */
.college_path{
    background-color:#E1E1E1;  
    top: 15%;
    width: 43%;
    margin-right: 5%;
    border-radius:10px;
    padding: 10px;
    float:right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.past{
    background-color: #B5B4B4;
    text-align: center;
    border-radius: 10px;
    width: 550px;
    height: 50px;
    margin-left: 5%;
}

.class1, .class3{
    background-color: #B5B4B4;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    width: 45%;
    float: left;
    text-align: center;
    margin-left: 10px;
}

.class2, .class4{
    background-color: #B5B4B4;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    width: 45%;
    float: right;
    text-align: center;
    margin-right: 10px;
}
