body{
    color: black;
}

h1, h3 {
    margin-left: 20%;
}

.dropdown {
    position: absolute;
    top: 15%;
    right: 15%;
}

p{
    float: left;
    padding-right: 10px;
}

select{
    float: right;
    margin-top: 15px;
}

/* ----------------------------------------------------- */
/* ------------ Schedule table styling ----------------- */

.schedule_table{
    display: inline-block;
    margin-left:7%;
}

#times{
    float:left;
    width: 10%;
    margin-left:10%;
    border-spacing: 15px;
}

#times th {
    font-size: small;
}

#schedule{
    float:right;
    border: 20px solid #B5B4B4;
    border-radius: 15px;
    border-spacing: 20px;
    background-color: #E1E1E1;
    width: 80%;
    height: 500px;
    color: #E1E1E1;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#schedule tr{
    background-color: #E1E1E1;
}

td{
    border-radius: 10px;
    border: black;
}

table a{
    color:#E1E1E1;
    text-decoration: none;
}

th{
    color: black;
    font-size:large;
}

#add_course_btn{
    float: right;
    margin-right: 5%;
}
