body{
    color: black;
}

h1, h3 {
    margin-left: 20%;
}

.dropdown {
    position: absolute;
    top: 15%;
    right: 15%;
}

p{
    float: left;
    padding-right: 10px;
}

select{
    float: right;
    margin-top: 15px;
}

table{
    border: 20px solid #B7B09C;
    border-radius: 15px;
    margin-left: 20%;
    border-spacing: 20px;
    background-color: white;
    width: 1000px;
    height: 500px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

tr{
    background-color: white;
}

td{
    border-radius: 10px;
}

table a{
    color:white;
    text-decoration: none;
}

th{
    color: black;
}

#add_course_btn{
    color: white;
    text-decoration: none;
    background-color:#002B49 ;
    border-radius: 10px;
    height: 10%;
    width: 10%;
    float: right;
    margin-right: 15%;
    text-align: center;
}
