body{
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------- */
/* ------------ Navigation bar styling ----------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0px;
    left:0px;
    width: 15%;
    background-color: #8A2B2B;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    border-radius: 5px;
}

nav img {
    margin-left: 15%;
    padding:20px;
}
  
li a {
    display: block;
    color: white;
    padding: 25px 30px ;
    text-decoration: none;
    text-align: center;
  }

/* Change the link color on hover */
li a:hover {
    background-color: #FFFFFF;
    color: black;
}

/* Change the link color when clicked */
li .active {
    background-color: #B5B4B4;
    color: black;
}

/* ----------------------------------------------------- */
/* ------------ Button styling ----------------- */
.button {
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: #002B49;
    margin: 5px;
}

/* ----------------------------------------------------- */
/* ------------ Search bar and user account icon styling ----------------- */
.header{
    position: fixed;
    top: 1%;
    right: 2%;
}

.header p{
    border-radius: 10px;
    background-color: #E1E1E1;
    width: 160px;
    height: 3%; 
    padding-left: 10px;
    float: left;
    margin: 25px;
}

.header img{
    float: right;
}

/* ----------------------------------------------------- */
/* ------------ Login styling ----------------- */

.login-card{
    margin-top:13%;
    margin-left: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    width: 33%;
    height: 250px;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius:20px;
}

#login_img{
    float:right;
}
