body{
    color: black;
}

h1, h3 {
    margin-left: 20%;
}

.dropdown {
    position: absolute;
    top: 15%;
    right: 15%;
}

p{
    float: left;
    padding-right: 10px;
}

select{
    float: right;
    margin-top: 15px;
}

table{
    border: 20px solid #B7B09C;
    border-radius: 10px;
    margin-left: 20%;
    border-spacing: 20px;
    background-color: #D1CCBD;
    width: 1000px;
    height: 500px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

tr{
    background-color: #D1CCBD;
}

td{
    border-radius: 10px;
}

table a{
    color:#D1CCBD;
    text-decoration: none;
}
